body
{
  text-align: center;
  background: rgb(26, 247, 7);
}
form
{
  color: red;
  font-family: 'STIX Two Text', serif;
  font-size: 20px;
}
#heading
{
  border: 5px solid black;
  color: blue;
  background-color: white;
}
#good
{
  border:5px solid yellow;
  color:rgb(15, 135, 4);
  background-color: rgb(149, 174, 116);
}
.hello
{
  border:5px solid brown;
  color:rgb(19, 2, 127);
  background-color: rgb(62, 154, 150);
}
h2
{
  font-size: 20px;
  font-family: ariel black;
  text-decoration: underline;
  font-weight: bolder;

}
